AUTH0_DOMAIN=your-actual-domain.us.auth0.com
AUTH0_CLIENT_ID=your-actual-client-id
AUTH0_CLIENT_SECRET=your-actual-client-secret
FLASK_SECRET_KEY=make-up-a-long-random-string-here
AUTH0_AUDIENCE=flask-api-url-goes-here
FLASK_ENV=production-or-anything-else-goes-here